*.zip
*.pyc
*.pth

!/mmdetection/
/mmdetection/*
!/mmdetection/REPO
/mmdetection/REPO/_old-version/
/mmdetection/REPO/analysis/
/mmdetection/REPO/results/

/base/check_points/
/base/data/
/base/logs_new/
/base/trained_models_ann/